<form name="userForm" class="form-signin" ng-submit="userForm.$valid && saveUser()">
    <h2 class="form-signin-heading">User Form</h2>
    <label>Username</label>
    <input ng-model="editingUser.username" class="form-control" placeholder="Username" required="" autofocus="">
    <label>Password</label>
    <input ng-model="editingUser.password" type="password" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{formButton}}</button>
</form>