/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

*{
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
[ng-drag], .drag{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
[ng-drag], .drag{
  width: 100px;
  background: rgba(255,0,0, 0.5);
  color:white;
  text-align: center;
  display: inline-block;
  cursor: move;
  margin-top: 5px;
}
ul.draggable-objects:after{
  display: block;
  content:"";
  clear:both;
}
.draggable-objects li{
  float:left;
  display: block;
  width: 120px;
  height:100px;
}
[ng-drag].drag-over{
  border:solid 1px red;
}
[ng-drag].dragging{
  opacity: 0.5;
}
[ng-drop]{
  background: rgba(0,255,0, 0.5);
  text-align: center;
  width: 600px;
  height: 100px;
  padding-top:25px;
  display: block;
  position: relative;
}
[ng-drop].drag-enter{
  border:solid 5px red;
}
[ng-drop] span.title{
  display: block;
  position: absolute;
  top:50%;
  left:50%;
  width: 200px;
  height: 20px;
  margin-left: -100px;
  margin-top: -10px;
}
[ng-drop] div{
  position: relative;
  z-index: 2;
}
.ddTitle
{
  font-size: x-large;
  font-weight: bold;
}
.glyphicon
{
  cursor: pointer;
}
table.crosstab
{
  margin-top: 10px;
  max-width: 900px;
}
div.coffeeBreak
{
  text-align: center;
  clear: both;
  margin-top: 5px;
}
.ngdialog.ngdialog-theme-plain .ngdialog-content {
  width: inherit;
  max-width: 900px;
}