<div ng-show="isQuerying" class="coffeeBreak">
    <div class="dialogTitleBar">Query in Progress</div>
    <br/>
    <span>Queries typically take about five minutes to process. You may want to grab a coffee while you wait.</span>
    <br/><br/>
    <img style="-webkit-user-select: none" src="http://ak-hdl.buzzfed.com/static/2014-08/20/0/enhanced/webdr09/anigif_enhanced-24017-1408507639-1.gif">
    <br/><br/>
    <span><b>Note:</b> Closing this dialog will cancel your query.</span>
    <br/><br/>
</div>
<div ng-show="returnedError" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{returnedErrorMessage}}
</div>
<div ng-if="showCrossTab" ng-show="showCrossTab">
    <a class="btn btn-link" ng-click="exportToExcel('crosstab_table')">
        <span class="glyphicon glyphicon-share"></span> Export to Excel
    </a>
    <table id="crosstab_table" class="table table-bordered crosstab">
        <tr>
            <td class="resultQuery" colspan="{{crossTabsAttributes.length + 4}}">
                Cross-Tab Query:
                <span ng-repeat="attribute in crossTabsAttributes track by $index">
                    <span ng-if="$index != (crossTabsAttributes.length - 1)">
                        {{attribute.name}},
                    </span>
                    <span ng-if="$index == (crossTabsAttributes.length - 1)">
                        {{attribute.name}}
                    </span>
                </span>
            </td>
        </tr>
        <tr>
            <th colspan="4">Attribute Crosstab</th>
            <th ng-repeat="attribute in crossTabsAttributes track by $index">
                {{attribute.name}}
            </th>
        </tr>
        <tr>
            <th rowspan="3">Total</th>
        </tr>
        <tr>
            <td>Data source</td>
            <td>IDP</td>
            <td>Count</td>
            <td ng-repeat="attribute in crossTabsAttributes track by $index">
                <formatting-data data="attribute.idp_total" type="'number'"/>
            </td>
        </tr>
        <tr>
            <td>Base</td>
            <td><formatting-data data="idp_total" type="'number'"/></td>
            <td>Row % of Base</td>
            <td ng-repeat="attribute in crossTabsAttributes track by $index">
                <formatting-data data="attribute.idp_percent" type="'percent'"/>
            </td>
        </tr>
        <tr ng-repeat-start="attribute in crossTabsAttributes">
            <th rowspan="3">{{attribute.name}}</th>
        </tr>
        <tr>
            <td>Data source</td>
            <td>IDP</td>
            <td>Count</td>
            <td ng-repeat="attribute in crossTabsAttributes track by $index">
                <formatting-data data="getAssociatedAttribute(attribute, $parent.$index).idp_total" type="'number'"/>
            </td>
        </tr>
        <tr ng-repeat-end>
            <td>Base</td>
            <td><formatting-data data="attribute.idp_total" type="'number'"/></td>
            <td>Row % of Base</td>
            <td ng-repeat="attribute in crossTabsAttributes track by $index">
                <formatting-data data="getAssociatedAttribute(attribute, $parent.$index).idp_percent" type="'percent'"/>
            </td>
        </tr>
    </table>
</div>