<div ng-show="isQuerying" class="coffeeBreak">
    <div class="dialogTitleBar">Query in Progress</div>
    <br/>
    <span>Queries typically take about five minutes to process. You may want to grab a coffee while you wait.</span>
    <br/><br/>
    <img style="-webkit-user-select: none" src="http://ak-hdl.buzzfed.com/static/2014-08/20/0/enhanced/webdr09/anigif_enhanced-24017-1408507639-1.gif">
    <br/><br/>
    <span><b>Note:</b> Closing this dialog will cancel your query.</span>
    <br/><br/>
</div>
<div ng-show="returnedError" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{returnedErrorMessage}}
</div>
<div ng-if="showResults" ng-show="showResults">
    <a class="btn btn-link" ng-click="exportToExcel('segments_table')">
        <span class="glyphicon glyphicon-share"></span> Export to Excel
    </a>
    <a class="btn btn-link" ng-click="exportIds()">
        <span class="glyphicon glyphicon-share"></span> Export IDs
    </a>
    <table id="segments_table" class="table table-bordered crosstab">
        <tr>
            <td class="resultQuery" colspan="3">
                Segment Query: {{expressionString}}
            </td>
        </tr>
        <tr>
            <th>
                IDP TOTAL
            </th>
            <th>
                SEGMENT TOTAL
            </th>
            <th>
                PERCENT%
            </th>
        </tr>
        <tr>
            <th>
                <formatting-data data="totals.total_idp" type="'number'"/>
            </th>
            <th>
                <formatting-data data="totals.total_seg_idp" type="'number'"/>
            </th>
            <th>
                <formatting-data data="totals.seg_idp_percent" type="'percent'"/>
            </th>
        </tr>
    </table>
</div>