[ng-drop]{
  background: #E2E2E2;
  text-align: center;
  min-width: 50px;
  min-height: 25px;
  display: inline-block;
  position: relative;
  margin: 2px 5px;
  padding: 0px 5px;
  vertical-align: middle;
}

[ng-drop].drag-enter{
  border:solid 2px #949292;
}

.queryContainer{
    padding: 10px;
}

.operator{
    float: left;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #999999;
    background-color: #FFFFFF;
}

.operatorsContainer{
    padding-top: 10px;
}

.buttonSection > div{
    top: 10%;
}