/* app css stylesheet */

.appHeading{
    padding: 10px 15px;
    font-size: 22px;
}

ul.nav-tabs{
    padding-left: 15px;
}

.nav-tabs>li>a{
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 5px 15px;
    color: #555;
}

.nav-tabs>li.active>a{
    font-weight: bold;
}

.nav-tabs>li{
    width: 25%;
}

.logoutSpan{
    position: absolute;
    top: 10px;
    right: 15px;
}

.viewContainer{
    padding-top: 15px;
}

.sectionsContainer{
    padding-top: 15px;
}

.section{
    padding-left: 0px;
    height: 400px !important;
}

.halfSection{
    padding-left: 0px;
    height: 250px !important;
}

.buttonSection{
    text-align: center;
}

.buttonSection > div{
    position: relative;
    top: 45%;
    padding-top: 10px;
}

.fieldLevelLabel{
    font-weight: bold;
}

.overflowScroll{
    overflow-y: scroll;
}

.dragDropContainer{
    border: 1px solid;
    border-radius: 8px;
    overflow: scroll;
    height: inherit;
}

.dragBox, [ng-drag-clone]{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    display: inline-block;
    cursor: move;
    margin-left: 20px;
    padding: 0px 5px;
}

.dragBox.selected {
    outline: 1px solid blue;
}

.submitButtons{
    padding-top: 10px;
}

*{
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

[ng-drag].drag-over{
  border:solid 1px red;
}

[ng-drag].dragging{
  opacity: 0;
}

.glyphicon
{
  cursor: pointer;
}
table.crosstab
{
  margin-top: 10px;
  max-width: 1100px;
}
div.coffeeBreak
{
  text-align: center;
  clear: both;
}
.ngdialog.ngdialog-theme-plain .ngdialog-content {
  width: inherit;
  max-width: 1100px;
  padding: 0px;
  border: 2px solid black;
}
.dialogTitleBar {
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid black;
}
.ngdialog.ngdialog-theme-plain .ngdialog-close:before {
  border: 2px solid black;
  height: 32px;
  border-radius: 7px;

}

/* Added to speedup dialog animations and prevent focus delays */
.ngdialog * {
  -webkit-animation-duration: 0.3s !important;
  -moz-animation-duration: 0.3s !important;
  -o-animation-duration: 0.3s !important;
  -ms-animation-duration: 0.3s !important;
  animation-duration: 0.3s !important;
}
/*login form*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}