/* app css stylesheet */

.appHeading{
    padding: 10px 15px;
    font-size: 22px;
}

ul.nav-tabs{
    padding-left: 15px;
}

.nav-tabs>li>a{
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 5px 15px;
    color: #555;
}

.nav-tabs>li.active>a{
    font-weight: bold;
}

.nav-tabs>li{
    width: 25%;
}

.logoutSpan{
    position: absolute;
    top: 10px;
    right: 15px;
}

.viewContainer{
    padding: 20px;
}

.sectionHeading {
    font-size: 16px;
    text-decoration: underline;
    padding-bottom: 15px;
}

.sectionsContainer{
    padding-top: 20px;
}

.section{
    height: 400px !important;
}

.halfSection{
    height: 250px !important;
}

.threeFourthSection{
    height: 325px !important;
}

.buttonSection{
    text-align: center;
}

.buttonSection > div{
    position: relative;
    top: 40%;
    padding-top: 10px;
}

.fieldLevelLabel{
    font-weight: bold;
}

.overflowScroll{
    overflow-y: scroll;
}

.topContainer {
    padding-bottom: 10px;
}

.fullButton {
    width: 100%;
}

.dragDropContainer{
    border: 1px solid;
    border-radius: 8px;
    overflow-y: scroll;
    height: 325px;
    margin-top: 10px;
}

.dragBox, [ng-drag-clone]{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    display: inline-block;
    cursor: move;
    margin-left: 20px;
    padding: 0px 5px;
}

.dragBox.selected {
    outline: 1px solid blue;
}

.submitButtons{
    padding-top: 15px;
}

.submitButtons > button{
    margin-right: 20px;
}

*{
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

[ng-drag].drag-over{
  border:solid 1px red;
}

[ng-drag].dragging{
  opacity: 0;
}

.glyphicon
{
  cursor: pointer;
}
table.crosstab
{
  margin-top: 10px;
  max-width: 1100px;
}
div.coffeeBreak
{
  text-align: center;
  clear: both;
}
.ngdialog.ngdialog-theme-plain .ngdialog-content {
  width: inherit;
  max-width: 1100px;
  padding: 0px;
  border: 2px solid black;
}
.dialogTitleBar {
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid black;
}
.ngdialog.ngdialog-theme-plain .ngdialog-close:before {
  border: 2px solid black;
  height: 32px;
  border-radius: 7px;

}
.dialogConfirm {
    padding: 10px;
}

/* Added to speedup dialog animations and prevent focus delays */
.ngdialog * {
  -webkit-animation-duration: 0.3s !important;
  -moz-animation-duration: 0.3s !important;
  -o-animation-duration: 0.3s !important;
  -ms-animation-duration: 0.3s !important;
  animation-duration: 0.3s !important;
}
/*login form*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*table css*/
.heading_row {
    background-color: #CCCCCC !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #F0F0F0;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table {
    table-layout: fixed;
}

.nopadding {
    padding: 0px;
    margin: 0px;
}

.operatorsListContainer{
    padding-top: 10px;
}

/*scrollbars css*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}