.table {
    padding-top: 5px;
}
.tabSubtitle {
    font-size: 18px;
}
[ng-drop]{
  background: #E2E2E2;
  text-align: center;
  min-width: 50px;
  min-height: 25px;
  display: inline-block;
  position: relative;
  margin: 2px 5px;
  padding: 0px 5px;
  vertical-align: middle;
}

[ng-drop].drag-enter{
  border:solid 2px #949292;
}

.queryContainer{
    padding: 10px;
}

.operator{
    float: left;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid black;
}

.operatorsContainer{
    padding-top: 10px;
}

.buttonSection > div{
    top: 15%;
}

.literalContainer{
    clear: both;
    padding: 10px 0px 0px;
}

.literalInput{
    display: inline-block;
    width: initial;
}

.inputContainer{
    padding-left: 0px;
}

.inputContainer > div > input{
    width: 100%;
}

.inputContainer > .fieldLevelLabel{
    padding-top: 0px;
}