.table {
    padding-top: 5px;
}
.tabSubtitle {
    font-size: 18px;
}
[ng-drop]{
  background: #E2E2E2;
  text-align: center;
  min-width: 50px;
  min-height: 25px;
  display: inline-block;
  position: relative;
  margin: 2px 5px;
  padding: 0px 5px;
  vertical-align: middle;
}

[ng-drop].drag-enter{
  border:solid 2px #949292;
}

.queryContainer{
    padding: 10px;
}

.operator{
    float: left;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid black;
}

.operatorsContainer{
    padding-top: 15px;
}


.buttonSection > div{
    transform: translateY(150%);
}

.literalContainer{
    clear: both;
    padding: 15px 0px 0px;
}

.literalContainer > .fieldLevelLabel{
    padding-top: 0px;
    padding-right: 10px;
}

.literalInput{
    display: inline-block;
    width: initial;
    margin-right: 10px;
}

.inputContainer{
    padding: 0px 0px 15px;
}

.inputContainer > input, .inputContainer > select{
    width: 70%;
    display: inline-block;
}

.inputContainer > .fieldLevelLabel{
    padding-top: 0px;
    padding-right: 10px;
}

.input-group{
    padding: 5px;
}